.text-inner{
	height: 100%;
	overflow: hidden;
	position: relative;
}

.text-edit{
	font-size: 16px;
	cursor: pointer;
	color: var(--theme-color);
	visibility: hidden;
	opacity: 0;
	transition: .2s;
	pointer-events: all;
	position: absolute;
	right: .5em;
	bottom: .5em;
}

.text-title-con{
	white-space: nowrap;
	transition: .2s;
	width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-inner[data-edit="false"]:hover .text-edit{
	visibility: visible;
	opacity: 1;
}

.text-title-con[alignx="center"]{
	text-align: center;
}

.text-title-con[alignx="left"]{
	text-align: left;
}

.text-title-con[alignx="right"]{
	text-align: right;
}

.text-display{
	pointer-events: none;
}

.text-display{
	width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

.text-display[data-italic=true]{
	font-style: italic;
}

.text-marquee{
    /*min-width: 100%;*/
    padding-right:5em;
}

.text-marquee-con{
	position: absolute;
	display: flex;
	white-space: nowrap;
	min-width: 200%;
	animation: marquee 3s linear infinite;
}

.text-mult{
    /*min-width: 100%;*/
    padding-bottom:2em;
}

.text-mult-con{
	position: absolute;
	top: 0;
	white-space: pre-wrap;
}

.text-mult-con[data-scroll=true]{
	animation: scroll 3s linear infinite;
}

.text-inner[data-edit="true"] .text-marquee-con{
	animation: none;
}

.text-view[dragging] .text-marquee-con{
	/*animation-play-state: paused;*/
}

.text-input{
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: .2em;
	white-space: pre-wrap;
	/*visibility: hidden;*/
	opacity: 0;
	outline: 0;
	transition: .2s;
	z-index: -1;
	overflow: auto;
	font-size: 16px;
	border-color: transparent;
	background: none;
}

.text-inner[data-edit="true"] .text-input{
	/*visibility: visible;*/
	z-index: 1;
	opacity: 1;
}

.text-inner[data-edit="true"] .text-display{
	visibility: hidden;
	opacity: 0;
}

@keyframes marquee{
	to {
		transform: translate3d(-50%,0,0);
	}
}

@keyframes scroll{
	to {
		transform: translate3d(0,-50%,0);
	}
}
